@import '../node_modules/bulma/bulma.sass';

html, body { height: 100%; }
body { margin: 0; }

i.material-icons {
  margin-right: 5px;
  margin-left: -3px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
